@page "/"

@if(context==null)
{
    <text>Cargando...</text>
}
else
{
    <div class="float-left  LaMitadDeEspacio" id="ParteListas" >
        <select class="TodoElEspacio" @bind="@context.Main.IndexCategoria" >
            @for (int i = 0; i < context.Categorias.Count; i++)
            {
                <option class="TodoElEspacio" value="@i">@context.Categorias[i].Nombre</option>
            }
        </select>
        <br/>
        <VisorListas Listas="@context.Main.Listas" OnClick="@MostrarLista">
            <div>
                <input class="TodoElEspacio" type="text" @bind="context.Main.NameList"   />
                <button class="btn btn-light" @onclick="@AddList" value="Add" disabled="@String.IsNullOrEmpty(context.Main.NameList)" >+</button>
            </div>
        </VisorListas>
    </div>
    <div class="float-right LaMitadDeEspacio" id="ParteTareas">
        <input class="TextBox-NombreLista TodoElEspacio" type="text" @bind="@context.Main.ListaActual.Nombre" />
        <div>
            <label><input type="checkbox" @bind="context.Main.EditMode" />Editar</label>
            <button class="btn btn-light" id="Add-Tarea" @onclick="@AddTarea" value="+" disabled="@(!context.Main.HayLista)">+</button>
        </div>
        <VisorTareas Lista="@context.Main.ListaActual" EditMode="@context.Main.EditMode" />

    </div>
}


@code {

    [CascadingParameter]  Context context { get; set; }


    void AddList()
    {
        context.Listas.Add(new Lista(context.Main.NameList));
        context.Main.NameList = null;
    }
    void AddTarea()
    {
        if (context.Main.HayLista)
            context.Main.ListaActual.AddTarea();
    }
    void MostrarLista(Lista lista)
    {
        context.Main.ListaActual = lista;
    }

}
