@page "/"

@if(context==null)
{
    <text>Cargando...</text>
}
else
{
    <div class="float-left ParteListas LaMitadDeEspacio">
        <select class="TodoElEspacio" @onchange="@((s)=>posCategoria=(int)s.Value)" >
            @for (int i = 0; i < context.Categorias.Count; i++)
            {
                <option class="TodoElEspacio" value="@i">@context.Categorias[i].Nombre</option>
            }
        </select>
        <br/>
        <VisorListas Listas="Listas" OnClick="MostrarLista">
            <div>
                <input class="TodoElEspacio" type="text" @bind="nameList"   />
                <button class="btn btn-light" @onclick="AddList" value="Add" disabled="@String.IsNullOrEmpty(nameList)" >+</button>
            </div>
        </VisorListas>
    </div>
    <div class="float-right ParteTareas LaMitadDeEspacio">
        <input class="TextBox-NombreLista TodoElEspacio" type="text" @bind="@ActualList.Nombre" />
        <div>
            <label><input type="checkbox" @bind="editMode" />Editar</label>
            <button class="Add-Tarea btn btn-light" @onclick="AddTarea" value="+" disabled="@(!HayLista)">+</button>
        </div>
        <VisorTareas Lista="@ActualList" EditMode="editMode" />

    </div>
}


@code {

    [CascadingParameter]  Context context { get; set; }
    string nameList = null;
    int posCategoria;
    bool editMode = false;
    Categoria Categoria
    {
        get { return context.Categorias[posCategoria]; }
    }
    List<Lista> Listas
    {
        get
        {
            return Categoria.GetListas();
        }
    }
    Lista ActualList
    {
        get;set;
    }
    bool HayLista => ActualList != null;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        posCategoria = 0;
        ActualList =  Categoria.GetListaAt(0);
    }

    void AddList()
    {
        context.Listas.Add(new Lista(nameList));
        nameList = null;
    }
    void AddTarea()
    {
        if (ActualList != null)
            ActualList.AddTarea();
    }
    void MostrarLista(Lista lista)
    {
        ActualList = lista;
    }

}
