@page "/search"
@if (context == null)
{
    <Cargando/>
}
else
{
    <h3>Search</h3>
    <input class="TodoElEspacio" type="text"  @onkeypress="@OnKeyPressBuscar" />
    <button class="btn btn-info" @onclick="@(() => Buscar())">Buscar</button>
    @if (@context.Search.ListaTemporal.TareasLista.Count > 0)
    {
        <h4>Tareas que contienen el texto a buscar</h4>
        <VisorTareas Lista="@context.Search.ListaTemporal" OnClick="@MostarListasTarea" MostrarCheckHecho="@false" />
        <h4>Listas que contienen la Tarea</h4>
        <VisorListas Listas="@context.Search.ListasTarea" OnClick="@MostrarLista" />
    }
}
@code {
    [CascadingParameter] Context context { get; set; }
    void OnKeyPressBuscar(KeyboardEventArgs e)
    {
        if (e.Key == "Enter"){
            Buscar();
        } 
    }
    void Buscar()
    {
        context.Search.ListaTemporal = new Lista(Tarea.HaveToContain(context.Search.TextoToSearch));
        context.Search.ListasTarea.Clear();


    }
    void MostarListasTarea(long idTarea)
    {
        context.Search.ListasTarea = Lista.TienenTarea(Tarea.TareasCargadas[idTarea]);
    }
    void MostrarLista(Lista lista)
    {
        //cargo el main con esta lista puesta
        context.Main.ListaActual = lista;
        //muevo la pagina a la del main...
    }

}
